<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="/css/styles.css" />
  <style>
    /* Fonts */
  </style>
  <title>Your Cart</title>
</head>

<body>
  <!-- Navigation -->
  <div class="top-nav">
    <div class="container d-flex">

    </div>
  </div>
  <div class="navigation">
    <div class="nav-center container d-flex">
      <a href="" class="logo">
        <h1>eShop</h1>
      </a>

      <ul class="nav-list d-flex">
        <li class="nav-item">
          <a href="/users/user_home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/products/user_product" class="nav-link">Shop</a>
        </li>
        <li class="nav-item">
          <a href="/auth/signout" class="nav-link">Logout</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#terms" class="nav-link">Terms</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li> -->
        <li class="icons d-flex">
          <a href="login.html" class="icon">
            <i class="bx bx-user"></i>
          </a>
          <div class="icon">
            <i class="bx bx-search"></i>
          </div>
          <div class="icon">
            <i class="bx bx-heart"></i>
            <span class="d-flex"></span>
          </div>
          <a href="/cart/cart_page" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">0</span>
          </a>
        </li>
      </ul>

      <div class="icons d-flex">
        <a href="/auth/signin" class="icon">
          <i class="bx bx-user"></i>
        </a>
        <div class="icon">
          <i class="bx bx-search"></i>
        </div>
        <div class="icon">

          <a href="/orderitems" class="icon">
            <i class='bx bxs-shopping-bags'></i>
            <!-- <span class="d-flex"><%=carts.length%></span> -->
          </a>

          <a href="/cart/cart_page" class="icon">
            <i class="bx bx-cart"></i>
            <span class="d-flex">
              <%=carts.length%>
            </span>
          </a>
        </div>

        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
    </div>

    <!-- Cart Items -->
    <div class="container cart">
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <% var finaltotal=0%>
          <% for(var i=0;i<carts.length;i++) {%>

            <tr>
              <td>
                <div class="cart-info">
                  <img src="/<%=carts[i].product.image_url%>" alt="..." />
                  <div>
                    <p>
                      <%=carts[i].product.product_name%>
                    </p>
                    <span>Price: <%=carts[i].product.product_price%></span> <br />
                    <button onclick="removeItem(`<%=carts[i].id%>`)">Remove</button>
                    <!-- <a href="">remove</a> -->
                  </div>
                </div>
              </td>
              <td><input type="number" value="<%=carts[i].quantity%>" min="1" disabled /></td>
              <td>
                <%=carts[i].total%>
              </td>
              <% var finaltotal=finaltotal+ carts[i].total%>
            </tr>
            <% } %>

      </table>
      <div class="total-price">
        <table>
          <tr>
            <td>Subtotal</td>
            <td id="finaltotal">
              <%=finaltotal%>
            </td>
          </tr>

        </table>
        <button class="checkout btn" onclick="placeOrder()">Proceed To Checkout</button>
      </div>
    </div>

    <!-- Latest Products -->
    <section class="section featured">
      <div class="top container">
        <h1>Latest Products</h1>
        <a href="#" class="view-more">View more</a>
      </div>
      <div class="product-center container">
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="/images/product-6.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>MEN'S CLOTHES</span>
            <a href="">Concepts Solid Pink Men’s Polo</a>
            <h4>$150</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="/images/product-1.jpg" alt="" />
            </a>
            <span class="discount">40%</span>
          </div>
          <div class="product-info">
            <span>MEN'S CLOTHES</span>
            <a href="">Concepts Solid Pink Men’s Polo</a>
            <h4>$150</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="/images/product-3.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>MEN'S CLOTHES</span>
            <a href="">Concepts Solid Pink Men’s Polo</a>
            <h4>$150</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
        <div class="product-item">
          <div class="overlay">
            <a href="" class="product-thumb">
              <img src="/images/product-2.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>MEN'S CLOTHES</span>
            <a href="">Concepts Solid Pink Men’s Polo</a>
            <h4>$150</h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><i class="bx bx-cart"></i></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><i class="bx bxl-facebook-square"></i></span>
          <span><i class="bx bxl-instagram-alt"></i></span>
          <span><i class="bx bxl-github"></i></span>
          <span><i class="bx bxl-twitter"></i></span>
          <span><i class="bx bxl-pinterest"></i></span>
        </div>
      </div>
    </footer>


    <script>

      async function removeItem(id) {


        axios.delete(`/cart/${id}`).then(function (response) { return "data deleted" });


        location.assign("/cart/cart_page")


        console.log("removed");
      }

      async function placeOrder() {
        const finalTotal = document.getElementById('finaltotal').innerText;
        console.log(finalTotal);

        if (finalTotal > 0) {

          new swal("Your Order has been placed!", "You will be receiving a confirmation email with order details", "success")
            .then(function () {
              location.reload();
            })

          const res = await axios.post('/orders');

        } else {
          new swal("Your cart is empty!")

        }

      }
    </script>
</body>

</html>