<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/adminStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://unpkg.com/@webpixels/css@1.1.5/dist/index.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/crud.css">

    <style>
        #permisssions {
            display: flex;
            flex-direction: row;
        }

        #indiv {
            /* display: flex; */
            /* display: flex;
            flex-direction: row; */
        }

        #permission_value {
            background-color: #4bc970;
            border-radius: 15px;
            color: black;
            padding: 10px;
            margin: 2px;
        }
    </style>


</head>

<body>

    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">

            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <div><a href="/orders/admin_dashboard">Home</a></div>

                    <!-- <div class="search">
                        <label>
                            <input type="text" placeholder="Search here" class="search" id="search"
                                onkeyup="searching()" />

                            <ion-icon name="search-outline"></ion-icon>
                        </label>
                    </div> -->

                    <div class="user"></div>
                    <div class="header">
                        <h5 class="mb-0">Roles</h5>


                        <button id="addProducts" onclick="addProductPage()">Add Roles</button>
                    </div>

                </div>
                <div class="table-responsive">


                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <input type="text" class="number" id="number" value="1" hidden>


                            <tr>
                                <th scope="col" id="product_name" onclick="sorting(this.id)">Role Name</th>
                                <!-- <th scope="col" id="product_description" onclick="sorting(this.id)">Description</th>
                                <th scope="col" id="product_price" onclick="sorting(this.id)">Price</th> -->
                                <th scope="col">Permissions</th>
                                <th scope="col">Edit</th>

                            </tr>

                        </thead>
                        <tbody id="tbody">
                            <% for(var i=0;i<roles.length;i++) {%>

                                <tr>
                                    <td id="main_role_name">

                                        <%= roles[i].name %>

                                    </td>
                                    <td>

                                        <% for(j=0; j<roles[i].permissions.length;j ++){ %>
                                            <% console.log(permissions[j].name )%>

                                                <span id="permission_value">
                                                    <%=roles[i].permissions[j].name%>

                                                </span>



                                                <% }%>

                                    </td>



                                    <td><button id="updateBtn" onclick="editProduct(`<%= roles[i].id %>`)">Edit</button>
                                    </td>



                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer border-0 py-5">
                    <!-- <span class="text-muted text-sm">Showing 10 items out of 250 results found</span> -->
                </div>

                <!-- 
                <div class="model-container-products" id="updateuser" style="visibility: hidden;">
                    <div class="col-md-12">
                        <div class="model">
                            <div
                                onclick="document.querySelector('.model-container-products').style.visibility = 'hidden'">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </div>

                            <form id="addProductForm" enctype="multipart/form-data" action="/data" method="get">

                                <fieldset>

                                    <label for="name">role Name</label>
                                    <input type="text" id="role_name" name="name">

                                    <input type="submit" name="submit" value="Add">


                            </form>
                        </div>
                    </div>
                </div> -->



                <div class="model-container" id="updateuser" style="visibility: hidden;">
                    <div class="col-md-12">
                        <div class="model">
                            <div onclick="document.querySelector('.model-container').style.visibility = 'hidden'">
                                <i class="fa fa-window-close" aria-hidden="true"></i>
                            </div>

                            <form id="updateForm" enctype="multipart/form-data">

                                <fieldset>

                                    <label for="name">Role Name</label>
                                    <input type="text" id="urole_name" name="name" disabled>


                                    <div class="permissions" id="permissions_data">

                                        <% for(j=0; j <permissions.length; j++){ %>

                                            <%= permissions[j].name%><input type="checkbox" class="permissions"
                                                    id="permission_name" ,name="id" value="<%= permissions[j].id%>">

                                                <% } %>

                                    </div>

                                    <input type="submit" name="submit" value="Add">


                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </div>

    </main>


</body>
<script>

    let p = 1;

    window.onload = () => {
        //     getProducts()
        getCategories()
    }


    async function getCategories() {

        console.log("permission data");
        const categoriesData = await axios.get('/roles/permissions');
        console.log("categoriesData", categoriesData)



        for (let catagory of categoriesData.data) {

            let option = document.createElement("option");
            option.setAttribute('value', catagory.id);

            let optionText = document.createTextNode(catagory.name);
            option.appendChild(optionText);

            // let option1 = document.createElement("option");
            // option1.setAttribute('value', catagory.id);

            // let optionText1 = document.createTextNode(catagory.name);
            // option1.appendChild(optionText1);

            catDropDown.appendChild(option);
            // categoriesDropDown.appendChild(option1);
        }
    }

    console.log(catDropDown);
    console.log(categoriesDropDown);
    const add = document.querySelector('#addProducts');
    add.addEventListener('click', () => {
        document.querySelector('.model-container-products').style.visibility = 'visible';
    })

    const form = document.querySelector('#addProductForm');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        let name = document.getElementById("product_name").value;
        // console.log("name", name);


        let catagory = document.getElementById("categoriesDropDown").value;
        console.log("catagory007", catagory)
        let categoryIds = catagory;
        console.log("categoryIds", categoryIds, typeof (categoryIds))
        let formData = new FormData(form);
        console.log("formaData", formData);

        let res = await axios.post('/roles/permissions/', formData)
        console.log("res", res);
        document.querySelector('.model-container-products').style.visibility = 'hidden';

        document.getElementById("name").value = '';
        // document.getElementById("product_description").value = '';
        // document.getElementById("product_price").value = '';
        // document.getElementById("file").value = '';
        getProducts();
    })

    // const editProduct = async (id) => {





    async function editProduct(id) {

        console.log("edit...");
        // e.preventDefault();
        // const res = await axios.get(`/products/product/edit/${id}`);
        const res = await axios.get(`/roles/${id}`);
        console.log("ress", res);

        const permissions = await axios.get('/roles/permissions');
        console.log("permission", permissions);
        console.log("permission length", permissions.data.length);

        const user = res.data;

        document.getElementById('urole_name').value = user.name;

        var div = document.querySelector('#permissions_data');
        console.log("div", div);

        // console.log(res.data.name == );

        document.querySelector('.model-container').style.visibility = 'visible';


        console.log("pp0", p);

        // if (p == 1) {

        //     for (var i = 0; i < permissions.data.length; i++) {

        //         for (var j = 0; j < res.data.permissions.length; j++) {
        //             var inDiv = document.createElement('div');
        //             inDiv.setAttribute('id', 'indiv');


        //             console.log("hello");
        //             var check = document.createElement('input');
        //             console.log("check", check);
        //             check.type = 'checkbox';
        //             check.value = permissions.data[i].id;
        //             check.name = 'id'

        //             if (permissions.data[i].name == res.data.permissions[j].name) {
        //                 check.checked = true;
        //             }

        //             var label = document.createElement('label');
        //             label.htmlFor = "permission name";
        //             label.innerHTML = permissions.data[i].name;

        //             inDiv.appendChild(label)
        //             inDiv.appendChild(check)


        //             document.querySelector('#permissions_data').appendChild(inDiv);




        //         }
        //     }


        //     p++;
        // }







        const form = document.querySelector('#updateForm');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            let arr = [];
            let checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
            for (let i = 0; i < checkboxes.length; i++) {
                arr.push(checkboxes[i].value)
            }
            console.log("arr", arr);

            const obj = Object.fromEntries(Object.entries(arr));
            console.log("object", obj);

            console.log("dflkgj", document.getElementById('permission_name').value);

            // for(var i=0; i<permissions.length; i++){

            // }

            console.log("iddd", id);
            const idd = parseInt(id);
            console.log(typeof idd);

            const res = await axios.put(`/roles/${id}`,
                {
                    permissionIds: arr


                }
            );
            console.log("ressaso", res)
            document.querySelector('.model-container').style.visibility = 'hidden';
            location.reload();

        })
    }


</script>

</html>